# Individual Project #2
**Professor:** Sayani Sarkar 
**Class:** DS-160-02
**Name:** Gracie Bayer
**Date:** Thursday, February 10, 2022
---

### #1 - Download the file `weather_2012.csv` and put it in the same directory as your notebook. Read the file into a dataset named `df`.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('weather_2012.csv')

### #2 - 2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6203,2012-09-15 11:00:00,16.1,7.8,58,22,48.3,101.49,Mostly Cloudy
8657,2012-12-26 17:00:00,-10.2,-13.9,74,22,25.0,102.16,Cloudy
397,2012-01-17 13:00:00,-5.1,-7.7,82,22,2.4,100.23,Snow
5777,2012-08-28 17:00:00,21.5,7.7,41,22,48.3,100.76,Mainly Clear
2863,2012-04-29 07:00:00,1.8,-11.9,35,26,48.3,101.64,Mostly Cloudy

### #3 - Write the code to display a list of all of the columns in the dataset.

In [8]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### #4 - Rename the column names according to this list `{date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}`. Keep a copy of the original columns so we can change them back if needed at the end of our analysis.

In [9]:
names=df.columns

In [10]:
df.rename(columns={'Date/Time':'date_time','Temp (C)':'temp_c','Dew Point Temp (C)':'dew_point',
                   'Rel Hum (%)':'relative_humidity','Wind Spd (km/h)':'wind_speed',
                   'Visibility (km)':'visibility','Stn Press (kPa)':'pressure','Weather':'weather'},inplace=True)

In [11]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [17]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

### #5 - Write the code to get some standard statistics for each column (e.g. count, mean, etc.) for the dataset.

In [12]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### #6 - Write the code to add a column named `temp_f` to the dataset that contains the temperature from `temp_c` represented in Fahrenheit.

In [13]:
df['temp_f']=df.temp_c*(9/5)+32

In [14]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,temp_f
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623,47.836660
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005,21.038189
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000,-9.940000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000,32.180000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000,48.740000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000,65.840000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000,91.400000

### #7 - Write the code to rearrange the columns in the dataset so `temp_f` appears immediately before `temp_c`

In [15]:
df=df[['date_time','temp_f','temp_c','dew_point','relative_humidity',
       'wind_speed','visibility','pressure','weather']]

In [16]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

### #8 - Write the code to display the data types of all the columns in the dataset.

In [18]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

### #9 - Write the code to convert the column `date_time` to a date/time column. Verify the conversion was successful.

In [19]:
df.date_time=pd.to_datetime(df.date_time)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_f             8784 non-null   float64
 2   temp_c             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

### #10 - Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [21]:
df['weather'].value_counts()[:10]

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

### #11 - Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [23]:
df1=df.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

In [24]:
df1

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear

### #12 - Extract the month information from the `date_time` column and add a month column at the data frame. (example: dt.month).

In [27]:
df1['month']=df1['date_time'].dt.month

<ipython-input-27-eda5f6f8df25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['month']=df1['date_time'].dt.month

In [28]:
print(df1)

               date_time  temp_f  temp_c  dew_point  relative_humidity  \
5199 2012-08-04 15:00:00   91.04    32.8       18.8                 44
5200 2012-08-04 16:00:00   90.50    32.5       18.5                 44
5201 2012-08-04 17:00:00   90.50    32.5       19.8                 47

      wind_speed  visibility  pressure weather  month
5199          17        24.1    101.39   Clear      8
5200          15        24.1    101.34   Clear      8
5201          13        24.1    101.32   Clear      8

### #13 - Save your original dataframe to ‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [29]:
df.to_csv('weather_2012_new.csv', index=None)